# Compiled Java classes
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear


# It prevents the massive 'target' folder from being pushed
target/

# Allure Reporting - Generated results shouldn't be tracked
allure-results/
allure-report/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# Eclipse files
.settings/
.project
.classpath
bin/

# Environment specific files (Optional)
# If you store sensitive passwords in these, don't push them
# config.properties